/* ---------- GLOBAL ---------- */
body {
    font-family: Arial, Helvetica, sans-serif;
    background: #f7f7f7;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background: #eed3df;
    padding: 15px 25px;
    color: #8d3571;
    font-size: 24px;
    text-align: center;
}

/* ---------- PRODUCT LIST ---------- */
.product-container {
    display: grid;
    grid-template-columns: repeat(3, 250px);
    gap: 40px;
    justify-content: center;
    padding: 30px;
}

.product-card {
    background:#eed3df;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 3px 8px rgba(0,0,0,0.15);
    text-align: center;
    transition: 0.3s ease;
}

.product-card:hover {
    transform: scale(1.03);
}

.product-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 15px;
}

.product-card h3 {
    margin-bottom: 10px;
}

.add-btn {
    display: inline-block;
    background: #903d76;
    color: white;
    padding: 12px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    margin-bottom:15px;
}

/* ---------- CART PAGE ---------- */
.cart-container {
    width: 80%;
    margin: 30px auto;
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
}

.cart-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.cart-table th, .cart-table td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

.checkout-btn {
    background: #903d76;
    color: white;
    padding: 12px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    margin-bottom:15px;
}


/* ---------- EMPTY CART ---------- */
.empty-message {
    text-align: center;
    font-size: 20px;
    padding: 40px;
}
