{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Products List</title>
    <link rel="stylesheet" href="{% static 'store_app/styles.css' %}">
</head>
<body>
    <h1 style="text-align:center; margin-top:20px;">Our Products</h1>

    <div class="product-container">
        {% for product in products %}
        <div class="product-card">

            {% if product.image %}
            <img src="{{ product.image.url }}" alt="{{ product.name }}">
            {% endif %}

            <h3>{{ product.name }}</h3>
            <p>${{ product.price }}</p>
            <p>{{ product.description }}</p>

            <a href="{% url 'add_to_cart' product.id %}" class="add-btn">Add to Cart</a>
        </div>
        {% endfor %}
    </div>

    <div style="text-align:center; margin:20px;">
        <a href="{% url 'cart' %}" class="add-btn" style="background:#903d76;">Go to Cart</a>
    </div>

</body>
</html>
